
<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" size-sm="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Stats</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="border border-teal-200 rounded-lg flex mb-4">
              <div class="m-4 rounded-lg p-3 bg-teal-50">
                <img
                  class="m-2"
                  src="https://img.icons8.com/wired/64/building.png"
                />
              </div>

              <div class="m-4">
                <div class="">
                  <span class="font-bold text-2xl">Assets</span>
                </div>
                <div class="space-x-4">
                  <span class="text-7xl text-teal-400">123</span>
                  <span class=""> Total assets</span>
                  <span class="text-7xl text-teal-400">79%</span>
                  <span class=""> Inspected assets</span>
                </div>
              </div>
            </div>

            <div class="flex mb-8 space-x-8">
              <span
                class="inline-flex items-center rounded-md px-2 py-1 text-xs font-bold text-gray-600"
                >LEGENDS:</span
              >
              <span
                class="inline-flex items-center rounded-md bg-pink-50 px-2 py-1 text-xs font-bold text-pink-600"
                >OPEN</span
              >
              <span
                class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-bold text-blue-700"
              >
                ONGOING
              </span>
              <span
                class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-bold text-green-800"
                >FINALISEDS</span
              >
            </div>

            <div class="chart-container">
              <canvas id="MyChart">{{ chart }}</canvas>
            </div>

            <!-- Findings -->
            <div
            class="relative mt-8 max-w-sm h-28 w-full border-2 rounded-lg border-green-200 lg:max-w-full lg:flex">
              <div class="scale-125 place-items-center p-2 absolute h-12 bg-white left-16 -top-6 lg:max-w-full lg:flex">
                <span>
                  Findings (150)
              </span>
            </div>

          </div>

          <!-- Progress Bar -->
          <div
          class="relative max-w-sm h-36 w-full -mb-12 ml-12 border-green-200 lg:max-w-full lg:flex">
            <div class="grid flex gap-x-12 absolute  -mt-20 grid-cols-3 justify-center">
              <div class="relative border-4 bg-white border-red-200 w-full rounded-lg flex progress-wrapper">
                <span class="absolute text-white ml-4 text-center place-items-center h-6 w-20 scale-100 rounded bg-red-500 -mt-4">
                  Level 1
                </span>
                <div class="current" [ngStyle]="getOverlayStyle()">{{ current1 }}/{{ max }}</div>
                <round-progress
                  [current]="current1"
                  [max]="max"
                  [radius]="40"
                  [stroke]="stroke"
                  [color]="gradient ? 'url(#gradient)' : color1"
                  [background]="background1"
                  [responsive]="responsive"
                  />
              </div> 
              <div class="border-4 bg-white border-orange-200 rounded-lg p-4 progress-wrapper">
                <span class="absolute text-white text-center place-items-center h-6 w-20 scale-100 rounded bg-orange-400 -mt-8">
                  Level 2
                </span>
                <div class="current" [ngStyle]="getOverlayStyle()">{{ current2 }}/{{ max }}</div>
                <round-progress
                  [current]="current2"
                  [max]="max"
                  [radius]="40"
                  [stroke]="stroke"
                  [color]="gradient ? 'url(#gradient)' : color2"
                  [background]="background2"
                  [responsive]="responsive"
                  />
              </div> 
              <div class="border-4 bg-white border-yellow-200 rounded-lg p-4 progress-wrapper">
                <span class="absolute text-white text-center place-items-center h-6 w-20 scale-100 rounded bg-amber-400 -mt-8">
                  Level 3
                </span>
                <div class="current" [ngStyle]="getOverlayStyle()">{{ current3 }}/{{ max }}</div>
                <round-progress
                  [current]="current3"
                  [max]="max"
                  [radius]="40"
                  [stroke]="stroke"
                  [color]="gradient ? 'url(#gradient)' : color3"
                  [background]="background3"
                  [responsive]="responsive"
                  />
              </div> 
            </div>
          </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
